h3{
  color: white;
}

#catnav {
    font-size: 16px;
    text-align: center;
}

#catnav ul li{
  margin: 1em;
}

#catnav ul li a {
  color: white;
  cursor: pointer;
}

img { 
  cursor: pointer;
  max-width: 500px;
}

a:hover {
  color: red;
}

a:visited {
  color: orange;
}

img {
  cursor: pointer;
}
